*{
    margin: 0;
    padding: 0;
    
}
.main{
    height: 700px;
    width: 100%;
    background-image:url(/images1/interiorDesign.png);
    background-repeat: no-repeat;
    background-position: cover;
}
.menu{
    
    display: inline;
}
.menu ul li{
    float:right;
    font-size: 25px;
    display: inline;
}
.menu ul li a{
    color: white;
    text-decoration: none;
}